﻿@model WebApp.Views.ViewModels.PriceListViewModel

@{
    ViewData["Title"] = "Juhani pitsa";
}


<table class="table" style="margin-top: 75px">
    <thead class="thead-dark">
    <tr>
        <th scope="col">Pitsad</th>
        <th scope="col"></th>
    </tr>
    </thead>
    <tbody>
    @foreach (var item in Model.PizzaPriceList)
    {
        <tr>
            <th scope="row">@Html.DisplayFor(modelItem => item.Name)</th>
            <th scope="row">@Html.DisplayFor(modelItem => item.Price) €</th>
        </tr>
    }
    </tbody>
    <thead class="thead-dark">
    <tr>
        <th scope="col">Lisandid</th>
        <th scope="col"></th>
    </tr>
    </thead>
    <tbody>
    @foreach (var item in Model.ToppingsPriceList)
    {
        <tr>
            <th scope="row">@Html.DisplayFor(modelItem => item.Name)</th>
            <th scope="row">@Html.DisplayFor(modelItem => item.Price) €</th>
        </tr>
    }
    </tbody>
    <thead class="thead-dark">
    <tr>
        <th scope="col">Produktid</th>
        <th scope="col"></th>
    </tr>
    </thead>
    <tbody>
    @foreach (var item in Model.ProductsPriceList)
    {
        <tr>
            <th scope="row">@Html.DisplayFor(modelItem => item.Name)</th>
            <th scope="row">@Html.DisplayFor(modelItem => item.Price) €</th>
        </tr>
    }
    </tbody>
</table>