@using Domain
@model WebApp.Views.ViewModels.EditOrderViewModel

@{
    ViewData["Title"] = "Add items";
}

<h1>Add items</h1>

<hr/>
<table class="table" style="margin-top: 75px">
    <thead class="thead-dark">
    <tr>
        <th scope="col">@Model.Order.Price €</th>
        <th scope="col"></th>
        <th scope="col"></th>
        <th scope="col"></th>
    </tr>
    </thead>
    <tbody>
    @foreach (var row in @Model.OrderRows)
    {
        <tr>
            <th scope="row">@Html.DisplayFor(modelItem => row.Product.Name)</th>
            <th scope="row">@Html.DisplayFor(modelItem => row.Amount)</th>
            <th scope="row">@Html.DisplayFor(modelItem => row.Amount)</th>
            <th scope="row">@Html.DisplayFor(modelItem => row.Price)</th>
        </tr>
        if (row.Toppings != null)
        {
            foreach (var topping in row.Toppings)
            {
                <tr>
                    <td></td>
                    <td></td>
                    <td>Extra toppings</td>
                    <td>@Html.DisplayFor(modelItem => topping.Name)</td>
                    <td>@Html.DisplayFor(modelItem => topping.Price)</td>
                </tr>
            }
             
        }
        if (row.Id == Model.EditableRowId)
        {
            <tr>
                <th scope="row">
                    <form asp-action="AddToppings">
                        <div class="form-row">
                            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                            <div class="form-group col-md-4">
                                <label class="control-label">
                                    Topping
                                    <select asp-for="ToppingId" class="form-control" asp-items="Model.Toppings"></select>
                                </label>
                                <span asp-validation-for="ToppingId" class="text-danger"></span>
                            </div>
                            <div class="form-group col-md-4">
                                <label class="control-label">
                                    Amount
                                    <input asp-for="ToppingsAmount" class="form-control"/>
                                </label>
                                <span asp-validation-for="ToppingsAmount" class="text-danger"></span>
                            </div>
                            <input type="hidden" asp-for="EditableRowId" value="@Model.EditableRowId"/>
                            <input type="hidden" asp-for="Order.Id" value="@Model.Order.Id"/>
                            <div class="form-group">
                                <input type="submit" value="Add" class="btn btn-primary"/>
                            </div>
                        </div>
                    </form>
                </th>
            </tr>
        }
    }
    </tbody>
</table>
<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{ await Html.RenderPartialAsync("_ValidationScriptsPartial"); }
}