@using Domain
@model WebApp.Views.ViewModels.OrderViewModel

@{
    ViewData["Title"] = "Create";
}

<div class="row">
    <form asp-action="Create">
        <table class="table" style="margin-top: 75px">
            <thead class="thead-dark">
            <tr>
                <th scope="col">
                    <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                    <div class="form-group">
                        <label class="control-label">Product</label>
                            <select asp-for="MainProduct.Id" class="form-control" asp-items="Model.MainProducts"></select>
                        <span asp-validation-for="MainProduct" class="text-danger"></span>
                    </div>
                </th>
                <th scope="col">

                    <div class="form-group">
                        <label class="control-label">Amount</label>
                            <input asp-for="Amount" min="0" class="form-control"/>
                        <span asp-validation-for="Amount" class="text-danger"></span>
                    </div>
                </th>
                <th scope="col">
                    <div class="form-group">
                        <label asp-for="Comment" class="control-label"></label>
                        <input asp-for="Comment" class="form-control"/>
                        <span asp-validation-for="Comment" class="text-danger"></span>
                    </div>
                </th>
                <th scope="col">
                    <div class="form-group">
                        <label asp-for="Delivery" class="control-label"></label>
                        <select asp-for="DeliveryId" class="form-control" asp-items="Model.Deliveries"></select>
                        <span asp-validation-for="Comment" class="text-danger"></span>
                    </div>
                </th>
                <th scope="col"></th>
            </tr>
            </thead>
            <tbody>
            
            </tbody>
        </table>
        <div class="form-group">
            <input type="submit" value="Next" class="btn btn-primary"/>
        </div>
    </form>
    @*     <div class="form-row"> *@
    @*         $1$ <div asp-validation-summary="ModelOnly" class="text-danger"></div> #1# *@
    @*         $1$ <div class="form-group col-md-4"> #1# *@
    @*         $1$     <label class="control-label"> #1# *@
    @*         $1$         Product #1# *@
    @*         $1$         <select asp-for="MainProduct.Id" class="form-control" asp-items="Model.MainProducts"></select> #1# *@
    @*         $1$     </label> #1# *@
    @*         $1$     <span asp-validation-for="MainProduct" class="text-danger"></span> #1# *@
    @*         $1$ </div> #1# *@
    @*         $1$ <div class="form-group col-md-6"> #1# *@
    @*         $1$     <label class="control-label"> #1# *@
    @*         $1$         Amount #1# *@
    @*         $1$         <input asp-for="Amount" class="form-control"/> #1# *@
    @*         $1$     </label> #1# *@
    @*         $1$     <span asp-validation-for="Amount" class="text-danger"></span> #1# *@
    @*         $1$ </div> #1# *@
    @*         $1$ <div class="form-group col-md-6"> #1# *@
    @*         $1$     <label asp-for="Comment" class="control-label"></label> #1# *@
    @*         $1$     <input asp-for="Comment" class="form-control"/> #1# *@
    @*         $1$     <span asp-validation-for="Comment" class="text-danger"></span> #1# *@
    @*         $1$ </div> #1# *@
    @*         $1$ <div class="form-group col-md-6"> #1# *@
    @*         $1$     <label asp-for="Delivery" class="control-label"></label> #1# *@
    @*         $1$     <select asp-for="Delivery.Id" class="form-control" asp-items="Model.Deliveries"></select> #1# *@
    @*         $1$     <span asp-validation-for="Comment" class="text-danger"></span> #1# *@
    @*         $1$ </div> #1# *@
    @*     </div> *@
    @*     <div class="form-group"> *@
    @*         <input type="submit" value="Next" class="btn btn-primary"/> *@
    @*     </div> *@
    @* </form> *@
</div>

@* *@
@* <h1>Create</h1> *@
@* *@
@* <h4>Order</h4> *@
@* <hr /> *@
@* <div class="row"> *@
@*     <div class="col-md-4"> *@
@*         <form asp-action="Create"> *@
@*             <div asp-validation-summary="ModelOnly" class="text-danger"></div> *@
@*             <div class="form-group"> *@
@*                 <label asp-for="Price" class="control-label"></label> *@
@*                 <input asp-for="Price" class="form-control" /> *@
@*                 <span asp-validation-for="Price" class="text-danger"></span> *@
@*             </div> *@
@*             <div class="form-group"> *@
@*                 <label asp-for="OrderStatus" class="control-label"></label> *@
@*                 <select asp-for="OrderStatus" class="form-control" asp-items="@Html.GetEnumSelectList<OrderStatus>()"></select> *@
@*                 <span asp-validation-for="OrderStatus" class="text-danger"></span> *@
@*             </div> *@
@*             <div class="form-group"> *@
@*                 <label asp-for="Comment" class="control-label"></label> *@
@*                 <input asp-for="Comment" class="form-control" /> *@
@*                 <span asp-validation-for="Comment" class="text-danger"></span> *@
@*             </div> *@
@*             <div class="form-group"> *@
@*                 <input type="submit" value="Create" class="btn btn-primary" /> *@
@*             </div> *@
@*         </form> *@
@*     </div> *@
@* </div> *@

<div>
    <a asp-action="Index">Back</a>
</div>

@section Scripts {
    @{ await Html.RenderPartialAsync("_ValidationScriptsPartial"); }
}