@using Domain
@model WebApp.Views.ViewModels.EditOrderViewModel

@{
    ViewData["Title"] = "Add items";
}

<h1>Add items</h1>

<hr/>
<table class="table" style="margin-top: 75px">
    <thead class="thead-dark">
    <tr>
        <th scope="col">@Model.Order.Price €</th>
        <th scope="col">@Model.Order.OrderStatus</th>
        <th scope="col">@Model.Order.Delivery.Name</th>
        <th scope="col"></th>
        <th scope="col"></th>
    </tr>
    </thead>
    <tbody>
    @foreach (var row in @Model.OrderRows)
    {
        <tr>
            <th scope="row">@Html.DisplayFor(modelItem => row.Product.Name)</th>
            <th scope="row">@Html.DisplayFor(modelItem => row.Amount) pcs</th>
            <th scope="row">@Html.DisplayFor(modelItem => row.Product.Price) € /pcs</th>
            <th scope="row">@Html.DisplayFor(modelItem => row.Price) €</th>
            @if (row.Product.ProductType == ProductType.Pizza)
            {
                <th scope="row"><a asp-action="AddToppings" asp-route-id="@row.Id">Add toppings</a></th>
            }
            else
            {
                <th scope="row"></th>
            }
        </tr>
        if (row.Toppings != null)
         {
             foreach (var topping in row.Toppings)
             {
                 <tr>
                     <td></td>
                     <td>Extra toppings</td>
                     <td>@Html.DisplayFor(modelItem => topping.Name)</td>
                     <td>@Html.DisplayFor(modelItem => topping.Price)</td>
                     <td></td>
                 </tr>
             }
             
         }
    }
    <th scope="col"></th>
    <th scope="col"></th>
    <th scope="col"></th>
    <th scope="col"></th>
    <th scope="row"><a asp-action="AddItems" asp-route-id="@Model.Order.Id">Add more items</a></th>
    </tbody>
</table>
<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{ await Html.RenderPartialAsync("_ValidationScriptsPartial"); }
}