@using Domain
@model IEnumerable<Domain.Order>

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Price)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.OrderStatus)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Comment)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Price)
            </td>
            <td>
                @if (User.IsInRole("Administrator"))
                {
                <form asp-action="ChangeStatus">
                    <div class="form-group">
                        <select name="OrderStatus" onchange="this.form.submit()" asp-for="@item.OrderStatus" class="form-control" asp-items="@Html.GetEnumSelectList<OrderStatus>()"></select>
                    </div>
                    <input type="hidden" name="OrderId" asp-for="@item.Id"/>
                </form>
                }
                else
                {
                    @Html.DisplayFor(modelItem => item.OrderStatus)
                }
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Comment)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.Id">More</a>
                @if (User.IsInRole("Administrator"))
                {
                    <a asp-action="Details" asp-route-id="@item.Id">Details</a>
                }
            </td>
        </tr>
}
    </tbody>
</table>